@import "normalize";

/*$--color-primary: teal;*/
$--font-path: '~element-plus/lib/theme-chalk/fonts';

@import "~element-plus/packages/theme-chalk/src/index";

.tilt {
  display: block;
  transition: transform 0.1s;

  img {
    max-width: 100%;
  }

  &:hover {
    cursor: pointer;
  }
}